{% extends "@EasyAdmin/page/content.html.twig" %}

{% block title %}
    Administartion - {{ parent() }}
{% endblock %}

{% block content %}
    <h1 class="text-center">Administration</h1>
{% endblock %}