{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}

{% block body %}
	{# <h1 class="text-3xl font-bold underline text-secondary-light">
		Hello world!
	</h1> #}
{% endblock %}
