{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}

{% block body %}
	<h1 class="text-3xl font-bold underline text-secondary-light">
		Hello world!
	</h1>
	{# {% for team in teams %}
		<div class="flex flex-col items-center justify-center">
			<h2 class="text-2xl font-bold underline text-secondary-light">
				{{ team.firstName }}
			</h2>
			<div class="flex flex-row items-center justify-center">
				<div class="flex flex-col items-center justify-center">
					<img src="{{ team.picture }}" alt="Photo de {{ team.firstname }}" class="w-40 h-54">
				</div>
			</div>
		</div>
	{% endfor %} #}
{% endblock %}
