<div class="bg-primary flex justify-between">
	<p class="text-medium text-primary-text font-medium p-2 mx-5">&copy;
		{{ "now"|date("Y")}}<strong>@Menuiserie Hillairet, Tous droits réservés</strong>
	</p>
	<p class="text-medium text-primary-text font-medium p-2 mx-5">conçu par
		<a href="https://www.linkedin.com/in/alexandre-bertrand-5b1b3b1b1/" class="text-primary-text">Gaby Dev</a>
	</p>
</div>
