<div>
	<h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start text-primary">
		Liens utiles
	</h6>
	<p class="mb-4">
		<a href="{{ path('home') }}" class="text-neutral-600 dark:text-neutral-200 transition duration-300 border-b-2 border-transparent hover:border-primary">Accueil</a>
	</p>
	<p class="mb-4">
		<a href="#!" class="text-neutral-600 dark:text-neutral-200 transition duration-300 border-b-2 border-transparent hover:border-primary">Plan du site</a>
	</p>
	<p class="mb-4">
		<a href="{{ path('legals') }}" class="text-neutral-600 dark:text-neutral-200 transition duration-300 border-b-2 border-transparent hover:border-primary">Mentions légales</a>
	</p>
	<p>
		<a href="#!" class="text-neutral-600 dark:text-neutral-200 transition duration-300 border-b-2 border-transparent hover:border-primary">Conditions générales</a>
	</p>
</div>
