<div>
	<h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start text-primary">
		Plan d'accès
	</h6>
	<div id="map" class="w-full h-full">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11141.789544082349!2d-0.640697!3d45.722122!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480102edfbdec867%3A0xc9ffb8be2a52d5e!2sHillairet%20Gilles%20Jean-Claude!5e0!3m2!1sfr!2sus!4v1680088121906!5m2!1sfr!2sus" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
</div>
