<div>
	<h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start text-primary">
		Plan d'accès
	</h6>
	<div id="map" class="w-full h-full">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2785.447185787829!2d-0.6432721233307124!3d45.72212601619184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4801033a47ad6eef%3A0x2c676eda67c58495!2sMenuiserie%20Saintaise!5e0!3m2!1sfr!2sus!4v1680592013663!5m2!1sfr!2sus" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
</div>
