{% extends "@EasyAdmin/page/content.html.twig" %}

{% block title %}
    {{ parent() }}
    - Administration
{% endblock %}

{% block content %}
    <h1 class="text-center">Administration Hillairet</h1>
{% endblock %}