<div class="bg-black text-center text-white">
	<div class="flex items-center justify-center border-neutral-200 p-6 dark:border-neutral-500 lg:justify-between">
		<div class="mx-6 py-10 text-center md:text-left">
			<div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-4">
				<div class="flex flex-col items-center justify-center">
					{% include "components/footer/_info.html.twig" %}
				</div>
				<div class="flex flex-col items-center justify-center">
					{% include "components/footer/_map.html.twig" %}
				</div>
				<div class="flex flex-col items-center justify-center">
					{% include "components/footer/_links.html.twig" %}
				</div>
				<div class="flex flex-col items-center justify-center">
					{% include "components/footer/_contact.html.twig" %}
				</div>
			</div>
		</div>
	</div>
	<div class="bg-primary flex justify-between">
		<p class="text-medium text-primary-text font-medium p-2 mx-5">&copy;
			{{ "now"|date("Y")}}<strong>@Menuiserie Hillairet, Tous droits réservés</strong>
		</p>
		<p class="text-medium text-primary-text font-medium p-2 mx-5">conçu par
			<a href="https://www.linkedin.com/in/alexandre-bertrand-5b1b3b1b1/" class="text-primary-text">Gaby Dev</a>
		</p>
	</div>
</div>
