<div class="container mx-auto my-32">
	<h3 class="text-3xl font-bold text-start text-primary mb-8">Qui sommes-nous ?</h3>
	<div class="flex flex-col md:flex-row">
		<div class="w-full xl:w-1/2 bg-gray-100 p-8 rounded-sm">
			<p class="text-lg text-start text-gray-700 mb-8">
				<strong>Hillairet & Fils</strong>
				est une entreprise qui propose ses services à
				<strong>Royan</strong>,
				<strong>Saintes</strong>
				et
				<strong>Cognac</strong>, 16. Elle spécialisée dans le domaine de :
			</p>
			<ul class="list-disc list-inside text-lg text-start text-gray-700 mb-8">
				<li>Agencement intérieur</li>
				<li>Agencement bureau</li>
				<li>Agencement commerce magasin</li>
			</ul>
			<p class="text-lg text-start text-gray-700 mb-8">
				Entreprise reconnue en agencement intérieur , nous vous proposons notre savoir-faire.
				L’agencement intérieur est le meilleur moyen d’organiser d’une manière
				<strong>optimale</strong>
				tout ce qui est espace dans une habitation.
			</p>
			<p class="text-lg text-start text-gray-700 mb-8">
				En termes d’agencement de commerce et magasin, Nous sommes à même d’effectuer un travail
				<strong>remarquable</strong>
				afin d’accroître votre force de vente.
				Un agencement de commerce et magasin réussi ne s’improvise pas. L’intervention d’un professionnel dans le domaine est essentielle pour avoir un résultat
				<strong>irréprochable</strong>.
			</p>
			<p class="text-lg text-start text-gray-700 mb-8">
				Et pour que votre lieu de travail soit à votre image, nos compétences en agencement de bureau sont à votre disposition.<br>
				Parce que le bureau est comme une seconde maison, il est indispensable de lui donner un aspect <strong>confortable</strong>
				et <strong>convivial</strong>, nous intervenons dans tout type d’agencement de bureau, du plus simple jusqu’au plus sophistiqué.<br>
				Notre équipe de
				<strong>professionnels</strong>
				réalise une étude selon les besoins de ses clients et leurs propose des solutions sur plan pour toutes les demandes d’agencement.
			</p>
			<p class="text-lg text-start text-gray-700 mb-8">
				Contactez son personnel pour profiter de ses prestations d’agencement de qualité.
			</p>
		</div>
		<div class="w-full xl:w-1/2 flex justify-center items-end">
			<img src="{{ asset('build/images/house.png') }}" alt="Qui sommes-nous ?" class="w-1/2">
		</div>
	</div>
</div>
