<div class="container mx-auto my-32">
	<h3 class="text-3xl font-bold text-start text-primary mb-8">Nos garanties</h3>
	<p class="text-lg text-start text-black mb-8">
		Nous prenons à coeur de vous offrir un service de qualité, grâce à nos garanties.
	</p>
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-16">
		<div class="flex flex-col items-center border border-primary p-8 rounded-md">
			<h4 class="text-2xl font-bold text-start text-primary mb-4">Certification AFNOR</h4>
			<p class="text-lg text-start text-black mb-4">
				Nous sommes certifiés AFNOR pour la qualité de nos produits et de nos services.
				La certification AFNOR est une garantie de qualité et de sécurité pour nos clients.
			</p>
			<img src="{{ asset('build/images/afnor.png') }}" alt="AFNOR" class="w-32 h-32 mb-4">
		</div>
		<div class="flex flex-col items-center border border-primary p-8 rounded-md">
			<h4 class="text-2xl font-bold text-start text-primary mb-4">Norme Francaise</h4>
			<p class="text-lg text-start text-black mb-4">
				Tous nos produits sont fabriqués en France, dans nos ateliers.
				Nous sommes fiers de fabriquer nos produits en France, et de vous offrir un service de qualité.
			</p>
			<img src="{{ asset('build/images/nf.png') }}" alt="NF" class="w-32 h-32 mb-4">
		</div>
		<div class="flex flex-col items-center border border-primary p-8 rounded-md">
			<h4 class="text-2xl font-bold text-start text-primary mb-4">Certification Qualibat</h4>
			<p class="text-lg text-start text-black mb-4">
				Nous sommes certifiés Qualibat pour la qualité de nos produits et de nos services.
				La certification Qualibat est une garantie de qualité et de sécurité pour nos clients.
			</p>
			<img src="{{ asset('build/images/qualibat.png') }}" alt="Qualibat" class="w-32 h-32 mb-4">
		</div>
	</div>
</div>
